<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to the about page</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias aspernatur totam quasi, consequatur quibusdam error commodi dolores vero maiores vel dolorem nam! Nostrum rerum vitae delectus soluta vel. Eius?
        </p>
    </div>
    <script>
        console.log('About Page');
    </script>
</body>
</html>